.todo-list-item {
    border-bottom: 1px solid black;
    margin-top: 1rem;
}

.title {
    font-weight: bold;
}

.beschreibung {
    color: gray;
    font-style: italic;
}

.remove-button {
    color: red;
    border: 1px solid red;
}

input:checked title {
    color: red;
    text-decoration: line-through;
}